body{
    width: 100%;
}
.body1{
    min-height: 500px;
    background-color: wheat;
    text-align: center;
    padding-top:20px ;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

h2{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 20px;
}

.col1{
    flex-grow: 2;
}
.col2{
    flex-grow: 1;
}
.col3{
    flex-grow: 1;
}

.col1, .col2 {
    min-width: 300px;
    margin: 10px;
}

.col1 .card, .col2 .card {
    height: 20em;
}

.col1 .card-body, .col2 .card-body {
    display: flex;
}

.col1 button, .col2 button {
    margin: 0 auto;
    margin-top: auto;
}

.col1 button{
    margin-right: 0;
    margin-left: auto;
}

.col3 .card{
    width: 10rem; 
    height: 15rem;
}
.col3 .card-body{
    display: flex;
}
.col3 .card-body span{
    margin: 0 auto;
    margin-top: auto;
}

.col3 span a {
    padding: 7px;
    background: whitesmoke;
    color: black;
}
.col3 span a:hover {
    color: whitesmoke;
    background: black;
}

.tp{
    padding-left: 900px;
    text-decoration: underline;
    color: blue;
}
.footer{
    padding-top: 100px;
}

